.menu{
    background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-size: cover;
    margin: auto;
    color: #ffffff;
}

.menu__title{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 100px;
    max-width: 780px;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

}

.menu__subtitle{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    max-width: 780px;
    text-align: center;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
}

.menu__cards{    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    max-width: 1300px;
    gap: 100px;
}
