.reservation{
    background-color: #d9e7ff;
    background-image: url(../images/background_reservation.svg);
    background-size: cover;
    margin: auto;
    padding-bottom: 120px;
}

.reservation__title{
    margin: auto;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 80px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

